<!DOCTYPE html>
<html>
  <head>
      <center>

      
    <title>Password Reset Successful</title>
    <style>
      body {
        font-family: Arial, sans-serif;
       background: rgba(19, 197,221, 0.3);
        padding: 50px;
      }
      h1 {
        color: #444;
        font-size:3em;
        margin-bottom: 20px;
      }
      .main {
        color: #777;
        font-size: 200%;
        
      }
     
      
      .msg{
        color: red;
      }
      
     
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Password Reset sent</h1>
      <p class="main">Check your Email </p>
      <p class="msg">if you don't receive an email,please make sure you've entered the email id you registered with,and chech your spam folder</p><br>
     
    </div>
</center>
  </body>
</html>